{:paths ["src"]

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {io.github.jlt-commons/writ
                       {:local/root "../writ"}}
         :main-opts   ["-m" "ensemble.runner"]}
  :bench {:extra-paths ["bench"]
          :main-opts   ["-m" "ensemble.bench"]}}}
