{:paths ["src"]

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {io.github.jlt-commons/writ
                       {:git/url "https://github.com/jlt-commons/writ"
                        :git/sha "dba1d0812fb8a8d46b004af1964cb3400aa6c327"}}
         :main-opts   ["-m" "ensemble.runner"]}}}
